h1{
    text-align: center;
}
mat-slider {
    width: 300px;
  }
  .flex{
    display: flex;
    justify-content: space-around;
  }
  #flex{
    display: flex;
    justify-content: space-between;
  }
.mat-mdc-form-field-subscript-wrapper{
    display: none   ;
}
#css{
    border-radius: 9px;
    box-shadow: 9px;
}
