h1{
    text-align: center;
}
mat-slider {
    width: 300px;
  }
  .flex{
    display: flex;
    justify-content: space-around;
  }
  #flex{
    display: flex;
    justify-content: space-between;
  }
.mat-mdc-form-field-subscript-wrapper{
    display: none   ;
}
#css{
    border-radius: 9px;
    box-shadow: 9px;
}
@media only screen and (max-width: 1050px) {
    .flex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
      }
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
td{
      text-align: center;

  }